dotenv
flask
flask-cors
pdfminer.six
pdfplumber
streamlit
pandas
pytube
plotly
pymysql
pymupdf
Pillow
phonenumbers
streamlit-tags
streamlit-option-menu
scikit-learn
transformers
torch
yt-dlp

fuzzywuzzy
python-Levenshtein